!!!
%html
  %head
    %title= @site.title
    %meta{:name => "viewport", :content => "width=device-width; initial-scale=1.0; maximum-scale=1.0;"}
    %link{rel: 'stylesheet', href: '/stylesheet.css', type: 'text/css'}
  %body
    #content
      #social_panel
        - if @site.github
          .github
            %a{:href => "https://github.com/#{@site.github}", :target => "_blank"} Github
        - if @site.twitter
          .twitter
            %a{:href => "https://twitter.com/#{@site.twitter}", :target => "_blank"} Twitter
        - if @site.linked_in
          .linked_in
            %a{:href => "http://www.linkedin.com/in/#{@site.linked_in}", :target => "_blank"} LinkedIn
      .page_container
        .header
          %a{:id => "home_link", :href => "/"}
            .header_content
              %h1#page_title= @site.title
              %p#slogan= @site.slogan
              #logo
              .about_section
                %p= @site.about
        .posts
          = yield
      .footer
