!!!
%html
  %head
    = NewRelic::Agent.browser_timing_header rescue ""
    %title= @site_config["title"]
    %meta{:name => "viewport", :content => "width=device-width; initial-scale=1.0; maximum-scale=1.0;"}
    %link{rel: 'stylesheet', href: asset_path('vendor.css'), type: 'text/css'}
    %link{rel: 'stylesheet', href: asset_path('application.css'), type: 'text/css'}
  %body
    #content
      .container
        .row-fluid
          .span3
            .well.sidebar-nav
              .header_content
                %a{:id => "home_link", :href => "/"}
                  %h1#page_title= @site_config['title']
                  %p#slogan= @site_config['slogan']
                  #logo
                  .about_section
                    %p= @site_config['about']

              %ul.nav.nav-list
                %li.nav-header
                  Social
                - if @site_config['github']
                  %li.github
                    %a{:href => "https://github.com/#{@site_config['github']}", :target => "_blank"} Github
                - if @site_config['twitter']
                  %li.twitter
                    %a{:href => "https://twitter.com/#{@site_config['twitter']}", :target => "_blank"} Twitter
                - if @site_config['linked_in']
                  %li.linked_in
                    %a{:href => "http://www.linkedin.com/#{@site_config['linked_in']}", :target => "_blank"} LinkedIn
                - if @site_config['stackoverflow']
                  %li.stackoverflow
                    %a{:href => "http://stackoverflow.com/users/#{@site_config['stackoverflow']}", :target => "_blank"} Stack Overflow
                - if @site_config['coderwall']
                  %li.coderwall
                    %a{:href => "https://coderwall.com/#{@site_config['coderwall']}", :target => "_blank"} Coderwall
                %li.nav-header
                  Hacks
                %li
                  %a{:href => "http://websockets-chat.herokuapp.com/", :title => "Server/Client Chat using HTML5 WebSockets"} WebSockets

          .span9
            = yield

  = NewRelic::Agent.browser_timing_footer rescue ""
